<h1>会員一覧画面</h1>

<table class="table">
 <thead>
<tr><th>会員id</th>
<th>氏名</th>
<th>アドレス</th>
<th>ジャンル</th>
<th>ステータス</th>
</tr>
 </thead>
<% @customers.each do |customers| %>
<tr>
 <td><%= customers._id %></td>
 <td><%= items.name %></td>
  <td><%= items.genre %></td>
  <td><%= items.is_active %></td>
 </tr>
<% end %>
</table>
