<h1>会員一覧画面</h1>

<table class="table">
 <thead>
<tr><th>会員id</th>
<th>氏名</th>
<th>メールアドレス</th>
<th>ステータス</th>
</tr>
 </thead>
<% @customers.each do |customers| %>
<tr>
 <td><%= customers.id %></td>
 <td><%= customers.last_name + customers.first_name %></td>
  <td><%= customers.address %></td>
  <td><%= customers.is_deleted %></td>
 </tr>
<% end %>
</table>
